@page {
  margin: 10%;
  counter-increment: page;

  @top-center {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
    content: counter(page);
  }
}


body {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.875em;
	line-height: 140%;
	text-align: justify;
	counter-reset: page;
	counter-reset: section;
}




pre {
	font-family: Consolas, monospace, Lucidatypewriter, Courier, "Courier New", courier;
	font-weight: normal;
}

kbd {
	font-family: Consolas, monospace, Lucidatypewriter, Courier, "Courier New", courier;
	font-weight: bold;
}

code {
	font-family: Consolas, monospace, Lucidatypewriter, Courier, "Courier New", courier;
	font-weight: normal;
}

p {
	width: 50em;
}

ul.text {
	width: 50em;
	text-align: left;
}

ol.text {
	width: 50em;
	text-align: left;
}


ul.table {
	text-align: left;
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 16px;
}

li {
		width: 50em;
    text-align: left;
}

img {
	max-width: 600px;
	display: block;
    width: auto;
    height: auto;
}


table
{
    border: 1px solid grey;
    border-collapse: collapse;
    width: 50em;
}

th.text {    
    padding:4px 7px 4px 7px;
    border: 1px solid grey;
    border-collapse:collapse;
	font-size: small;
}

td.text {
    padding:4px 7px 4px 7px;
    border: 1px solid grey;
    border-collapse:collapse;
	font-size: small;
	vertical-align: top;
}

th.catalog {    
    padding:2px;
    border: 1px solid grey;
    border-collapse:collapse;
	font-size: small;
}

td.catalog {
    padding:2px;
    border: 1px solid grey;
    border-collapse:collapse;
	font-size: small;
	vertical-align: top;
}


